<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogToTrace="true">

  <targets>
    <!--文件日志-->
    <target name="filelog" xsi:type="File" fileName="logs/${date:format=yyyyMM}/nlog-own-${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${message} ${exception:format=toString,Data} @${callsite:fileName=true:includeSourcePath=true}" />
    
    <!--控制台日志-->
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${message} ${exception:format=toString,Data} @${callsite:fileName=true:includeSourcePath=true}"/>
    
    <!--黑洞 忽略的日志-->
    <target name="blackhole" xsi:type="Null" />
  </targets>

  <rules>
    <!--黑洞 忽略的日志-->
    <logger name="Microsoft.*" minLevel="Info" writeTo="blackhole" final="true" />
    <logger name="System.*" minLevel="Info" writeTo="blackhole" final="true" />
    <logger name="DotNetCore.CAP.*" minLevel="Info" writeTo="blackhole" final="true" />
    <!--文件日志-->
    <logger name="*" minlevel="Info" writeTo="filelog,console" />
  </rules>
</nlog>
