<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogToTrace="true">

  <targets>
    <target xsi:type="File" name="filelogs" fileName="logs/${date:format=yyyyMM}/nlog-own-${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${message} ${exception:format=toString,Data} @${callsite:fileName=true:includeSourcePath=true}" />

    <target name="console"
            xsi:type="ColoredConsole"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${message} ${exception:format=toString,Data} @${callsite:fileName=true:includeSourcePath=true}"/>
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minLevel="Info" writeTo="blackhole" final="true" />
    <logger name="System.*" minLevel="Info" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="filelogs,console" />
  </rules>
</nlog>
