<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug"
      internalLogToTrace="true">
  <targets async="true">
    <target name="lognet"
            xsi:type="Network"
            address="tcp://119.27.173.241:4561" >
      <layout xsi:type="JsonLayout">
        <attribute name="type" layout="haohaoplay" />
        <attribute name="date" layout="${longdate}" />
        <attribute name="level" layout="${level:uppercase=true}" />
        <attribute name="callSite" layout="${callsite:className=true:methodName=true:skipFrames=1}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=toString,Data}" />
      </layout>
    </target>
    <target name="console"
            xsi:type="ColoredConsole"
            layout="${longdate} [${level:uppercase=true}] ${callsite:className=true:methodName=true:skipFrames=1} ${message} ${exception:format=toString,Data} @${callsite:fileName=true:includeSourcePath=true}"/>
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <logger name="Microsoft.*" minLevel="Trace" writeTo="blackhole" final="true" />
    <logger name="System.*" minLevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Debug" writeTo="lognet,console" />
  </rules>
</nlog>